.conda/
.Rhistory
.snakemake/
__pycache__/
logs/

/ncbi/
/sequences/
/merged-sequences/
/aligned-sequences/
/filtered-sequences/
/trees/

/RAxML_rootedTree.final

/workflow/data/

# Python lib
/workflow/scripts/build/
/workflow/scripts/data/
/workflow/scripts/output/
/workflow/scripts/src/*.egg-info/
