.conda/
.Rhistory
.snakemake/
__pycache__/
logs/

/output/

/aligned-sequences/
/supermatrices/
/trees/

/RAxML_outgroupRootedTree.final
/RAxML_midpointRootedTree.final

# Python lib
build/
*.egg-info/
